*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}


header {
    background-image: url(../img/banner3.jpg);
    background-size: contain;
    height: 250px;
    display: flex;
    justify-content: center;
}

.fotoCV {
    width: 180px;
    display: flex;
    margin-top: 65px;
    padding: 10px 0;
}

h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}


.sobreMi {
    font-size: 21px;
    margin: 20px 0 40px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #8f1c3a;
}

h1, h2 {
    background-color: #c4c4c4;
    color: #005677;
    letter-spacing: 4px;
}

.icono {
    width: 20px;
    margin-left: 20px;
}

footer {
    display: flex;
    background-color: #8f1c3a;
    height: 37px;
}

.telefono-iconos {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    color: #c4c4c4;
}